# I initialized a git repo in here to be able to track and restore changes to config files.

# Ignore everything
*

# But not these files...
!README.MD
!.gitignore
!*.cfg

# ...even if they are in subdirectories
!*/